body {
  font-family: helvetica;
  font-size: 125%;
  height: 100vh;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a { color: rgb(245,171,53) }
a:hover { color: rgb(275,201,83) }


footer {
  color: slategray;
  margin-bottom: 0.5rem;
}
