<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{description}}">
  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>{{title}}</title>
</head>
<body>
  {{> @partial-block}}
  <footer>
    Rob Calcroft • <a href="/">{{#if post}}Read more posts{{else}}robcalcroft.com{{/if}}</a>
  </footer>
</body>
</html>
