<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>{{title}}</title>
</head>
<body>
  {{> @partial-block}}
  <footer>
    Rob Calcroft {{#if post}} • <a href="/">Read more posts</a> {{/if}}• <a href="https://calcroft.com">calcroft.com</a>
  </footer>
</body>
</html>
