{{#> container }}
  <h1>
    Rob&apos;s Blog
    <button class="theme-toggle">Enable dark mode</button>
  </h1>
  <ul class="posts">
    {{#each posts}}
      <li><a href="/{{getFileName this.title}}.html">{{this.title}}</a></li>
    {{/each}}
  </ul>
{{/container}}
