{{#> container }}
  <article class="post">
    <h1 class="h1__tall">
      {{title}}
    </h1>
    <div class="subtitle">
      {{getDateString date}}
      &#8226;
      {{readingTime}}
      &#8226;
      <a href="/">Go home</a>
    </div>
    {{{post}}}
    <div class="author">
      <img src="author.jpg" alt="Rob Calcroft the author" class="author__image" />
      <div class="author__info">Rob is a web engineer working in London, who focusses on performance, simple code and accessible design.</div>
    </div>
  </article>
{{/container}}
