body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2.325rem;
  color: #404040;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
a:active {
  outline: 3px solid rgb(245, 171, 53);
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: rgb(245, 171, 53);
}

img {
  width: 100%;
  height: auto;
}

footer {
  color: #a6a6a6;
  padding-bottom: 1rem;
}

blockquote {
  border-left: 0.5rem solid #a6a6a6;
  margin: 0;
  padding-left: 2rem;
}

ul.posts {
  padding-left: 20px;
}

ul.posts li {
  margin: 0.75rem 0;
}

article.post {
  padding-top: 4rem;
}

article.post > section {
  color: rgb(70, 70, 70);
}

.subtitle {
  color: #a6a6a6;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  body {
    margin: 0 5%;
  }

  article.post {
    padding-top: 0;
  }
}
