body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.4rem;
  height: 100vh;
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2.2rem;
  color: black;
}

a {
  color: #00008b;
  display: inline-block;
  padding: 0 0.1rem;
}

a:hover {
  box-shadow: 4px 4px 0px #00008b;
  background-color: lavender;
  text-decoration: none;
}

a:focus,
a:active {
  transform: scale(1.05);
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-top: 2rem;
  margin-bottom: 0;
  color: #00008b;
  background-color: lightpink;
  padding: 0.6rem;
  box-shadow: 8px 8px 0 lavender;
}

h1.h1__tall {
  margin-bottom: 2rem;
}

img {
  width: 100%;
  height: auto;
}

footer {
  color: slategrey;
  padding-bottom: 1rem;
}

blockquote {
  border-left: 0.5rem solid slategrey;
  margin: 0;
  padding-left: 2rem;
}

ul.posts {
  padding-left: 20px;
}

ul.posts li {
  margin: 0.75rem 0;
}

.subtitle {
  color: slategrey;
  font-size: 1.5rem;
  margin-top: 1rem;
}

code {
  font-size: 1.65rem;
  background-color: lavenderblush;
  padding: 0 0.5rem;
}

pre code {
  font-size: 1.4rem;
}

.author {
  display: flex;
  padding: 1.5rem;
  background-color: lavender;
  margin-bottom: 1rem;
}

.author__image {
  width: 85px;
  border-radius: 4px;
  align-self: center;
}

.author__info {
  margin-left: 1rem;
  font-weight: bold;
  color: #00008b;
}

@media (max-width: 1024px) {
  body {
    margin: 0 3%;
  }

  .author {
    flex-direction: column;
  }

  .author__image {
    align-self: flex-start;
  }

  .author__info {
    margin-left: 0;
  }
}
